#title {
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: black;
  color: white;
  font-family: 'Georgia', serif;
  z-index: 9999;
  animation: fadeOut 1s ease forwards;
  animation-delay: 4s;
}

#title h1 {
  font-size: 2.8rem;
  font-weight: 700;
  overflow: hidden;
  border-right: 0.15em solid white;
  white-space: nowrap;
  animation: typing 3s steps(30, end), blink 0.7s step-end infinite;
  color: white;
}

#title span {
  display: inline-block;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: white;
  }
}

@keyframes fadeOut {
  to {
    opacity: 0;
    visibility: hidden;
  }
}

.stop.hidden {
  display: none;
}
.pause-title {
  font-size: 1.5rem;
}
.pause-card {
}

.pause-sub {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}

.pause-tip {
  font-size: 1.4rem;
  margin-top: 1rem;
}

.key {
  display: inline-block;
  background: #000;
  color: #ff0000;
  padding: 0.2rem 0.6rem;
  border-radius: 0.4rem;
  font-weight: bold;
}

@keyframes fadeIn {
  from {
    transform: translateY(-10px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
